#include <windows.h>

#include <ntverp.h>
#include "version.h"

#define VER_COMPANYNAME_STR "Hashereware"

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "MalUnpack Companion Driver"
#define VER_INTERNALNAME_STR        "MalUnpackCompaion.sys"

#include "common.ver"
